**Q1**. What is a database? Differentiate between SQL and NoSQL databases.

**Answer** **Database:** A database is a collection of data that is organized in a structured manner to facilitate efficient storage, retrieval, and management of data. It is a software system that is used to manage and store data in a manner that allows easy access and retrieval of information. Databases are used in a variety of applications, including web applications, mobile applications, and enterprise systems.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems that differ in their structure, functionality, and usage.

**Differnce between SQL and NoSQL:**

SQL databases are relational databases that use tables to store data. They use SQL as their primary language for querying and manipulating data. SQL databases are widely used in applications that require a high degree of data integrity and consistency, such as financial applications, e-commerce, and inventory management systems. Examples of popular SQL databases include MySQL, Oracle, and Microsoft SQL Server.

NoSQL databases, on the other hand, are non-relational databases that use document-based, key-value, or graph-based data models for storing and managing data. NoSQL databases are designed to handle large volumes of unstructured or semi-structured data, such as social media data, sensor data, and log files. NoSQL databases are highly scalable, flexible, and provide fast data access. Examples of popular NoSQL databases include MongoDB, Cassandra, and Amazon DynamoDB.

**Q2:** What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**Answer**:DDL (Data Definition Language) is a subset of SQL that is used to define and manipulate the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints.

**(1) CREATE:** The CREATE statement is used to create new database objects such as tables, indexes, and views. For example, the following SQL statement creates a new table called "employees" with columns for employee ID, name, and salary:

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10,2)
);

**(2) DROP:** The DROP statement is used to delete database objects such as tables, indexes, and views. For example, the following SQL statement drops the "employees" table:

DROP TABLE employees;

**(3) ALTER:** The ALTER statement is used to modify the structure of existing database objects such as tables, indexes, and views. For example, the following SQL statement adds a new column called "email" to the "employees" table:

ALTER TABLE employees ADD COLUMN email VARCHAR(50);

**(4) TRUNCATE:** The TRUNCATE statement is used to delete all the data from a table, while keeping the structure of the table intact. For example, the following SQL statement truncates the "employees" table:

TRUNCATE TABLE employees;

**Q3** What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**Answer**:DML (Data Manipulation Language) is a subset of SQL that is used to manipulate data within a database. DML statements are used to insert, update, and delete data from database tables.

**(I) INSERT**:The INSERT statement is used to add new rows to a table. For example, the following SQL statement inserts a new row into the "employees" table:
INSERT INTO employees (id, name, salary) VALUES (1, 'John Smith', 50000);

**(II) UPDATE:** The UPDATE statement is used to modify existing data in a table. For example, the following SQL statement updates the salary of an employee with the "id" of 1:

UPDATE employees SET salary = 60000 WHERE id = 1;

**(III) DELETE:**:The DELETE statement is used to remove rows from a table. For example, the following SQL statement deletes an employee with the "id" of 1:

DELETE FROM employees WHERE id = 1;

**Q4:** What is DQL? Explain SELECT with an example.

**Answer:** DQL (Data Query Language) is a subset of SQL that is used to query and retrieve data from a database. DQL statements are used to retrieve data from database tables.
The most common DQL statement is SELECT. The SELECT statement is used to retrieve data from one or more tables in a database.

Here is an example of a SELECT statement:

SELECT name, salary FROM employees WHERE salary > 50000;

The SELECT statement consists of several clauses:

SELECT: This clause specifies the columns to retrieve from the table.

FROM: This clause specifies the table to retrieve the data from.

WHERE: This clause specifies the conditions that the data must meet to be included in the results. In this example, the condition is that the "salary" column must be greater than 50000

**Q5:** Explain Primary Key and Foreign Key.

**Answer: Primary key** A primary key is a column or set of columns in a table that uniquely identifies each row in that table. Primary keys ensure that each row in a table can be identified and accessed in a unique way. Primary keys can be used to enforce data integrity, as they prevent duplicate rows and ensure that each row has a unique identity.

For example, in a table of employees, the "employee_id" column could be used as the primary key. This would ensure that each row in the table represents a unique employee, and that no two employees can have the same "employee_id" value.

**forgin key** A foreign key is a column or set of columns in one table that refers to the primary key of another table. Foreign keys define relationships between tables and ensure that data is consistent between related tables.

For example, in a table of orders, there might be a column "customer_id" that refers to the primary key of a table of customers. This would ensure that each order is associated with a specific customer, and that the customer information is consistent between the orders table and the customers table.

**Q6:** Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

**Answer:**

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM yourtable")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for row in results:
  print(row)

The cursor() method creates a cursor object that allows Python to interact with the database. The cursor object is used to execute SQL statements and retrieve results.

The execute() method is used to execute an SQL statement, such as a SELECT or INSERT query. The SQL statement is passed as a string argument to the execute() method. The execute() method returns the number of rows affected by the query.

**Q7:** Give the order of execution of SQL clauses in an SQL query.

**Answer:** In a SQL query, the clauses are executed in the following order:

(1) FROM: Specifies the table(s) from which data will be retrieved.

(2) JOIN: Joins additional tables to the ones specified in the FROM clause.

(3) WHERE: Filters the data based on the specified conditions.

(4) GROUP BY: Groups the data based on specified columns.

(5) HAVING: Filters the grouped data based on specified conditions.

(6) SELECT: Selects the columns to be retrieved from the tables.

(7) DISTINCT: Removes duplicates from the result set.

(8) ORDER BY: Sorts the result set based on specified columns.

(9) LIMIT: Limits the number of rows returned by the query.